VITE_API_URL=http://localhost:5000/api

# Web Push (VAPID) - Public key only, safe for client
VITE_WEB_PUSH_VAPID_PUBLIC_KEY=BNCYty3TX8AAxOzPLXSCzpIuhf6gRWbbK8rrmOAr0SzCycCDX26I0wxT6oqUmfz_F4hDAnNx1phYBLF7zYbtrTQ